body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.entity-card {
    background-color: beige;
    display: flex;
    width: 200px;
    gap:10px;
    border: 3px solid darkgreen;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;    
}


.entity-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.entity-card-main-image {
    width:60px;
}

.entity-card-rhs {
    width: 130px;
    display: flex;
    flex-direction: column;
}

.entity-options {
    display: flex;
    gap: 10%;
}

.entity-options  img {
    width: 50%;
    justify-content: center;
    align-items: center;
}




a {
    text-decoration: none;
    color: black;
}