<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>The Green Bank</title>
</head>
<body>
    <header>
        <nav class="header-outer">
            <ul class="header-container">

                <a href="/customers">
                    <li class="header-card">
                        <p class="header-card-icon">
                            <object data="{{url_for('static', filename='assets/person-solid.svg')}}" height=25 width=25/></object>
                        </p>
                        <p class="header-card-text">
                            Customers
                        </p>
                    </li>
                </a>

                <a href="/tags">
                    <li class="header-card">
                        <p class="header-card-icon">
                            <object data="{{url_for('static', filename='assets/tag-solid.svg')}}" height=25 width=25/></object>
                        </p>
                        <p class="header-card-text">
                            Tags
                        </p>
                    </li>
                </a>

                <a href='/merchants'>
                    <li class="header-card">
                        <p class="header-card-icon header-card-item">
                            <object data="{{url_for('static', filename='assets/store-solid.svg')}}" height=25 width=25/></object>
                        </p>
                        <p class="header-card-text header-card-item">
                            Merchants
                        </p>
                    </li>
                </a>

                <a href="/accounts">
                    <li class="header-card">
                        <p class="header-card-icon header-card-item">
                            <object data="{{url_for('static', filename='assets/book-solid.svg')}}" height=25 width=25/></object>
                        </p>
                        <p class="header-card-text header-card-item">
                            Accounts
                        </p>
                    </li>
                </a>


                <a href='/transactions'>
                    <li class="header-card">
                        <p class="header-card-icon header-card-item">
                            <object data="{{url_for('static', filename='assets/comments-solid.svg')}}" height=25 width=25/></object>
                        </p>
                        <p class="header-card-text header-card-item">
                            Transactions
                        </p>
                    </li>
                </a>

            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer class="footer-container">
        <p class ="footer-child">
            <strong>Icons:</strong> <a href="https://fontawesome.com/">FontAwesome</a>
        </p>
        <p class="footer-child">
            <strong>Idea:</strong> <a href="https://codeclan.com/">CodeClan</a>
        </p>
        <p class="footer-child">
            <strong>Implementation:</strong> Jon Minton
        </p>

    </footer>
</body>
</html>