{% extends 'base.html' %}
{% block content %}
    <h1>Merchant Information</h1>
    <p>
        Below is a list of merchants. 
    </p>
    <ul>
        {% for merchant in merchants %}
            <li>
                <a href="/merchants/{{ merchant.id }}"> 
                    {{ merchant.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>Add a merchant</h2> 
    <p>Click the button below to add a merchant</p>  
    <form action="/merchants/new" method="post">
        <button type="submit">Create new merchant</button>
    </form>


{% endblock content %}
