{% extends 'base.html' %}
{% block content %}
    <h1>Merchant Information</h1>
    <p>
        Below is a list of merchants. 
    </p>
    <ul>
        {% for merchant in merchants %}
            <li>
                <a href="/merchants/{{ merchant.id }}"> 
                    {{ merchant.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <nav class="main-container">
        {% for merchant in merchants %}
        <a href="merchants/{{ merchant.id }}">
            <div class="entity-card">
                <object class="entity-card-main-image" width=100%  data="{{ url_for('static', filename='assets/store-solid.svg') }}" ></object>
                <div class="entity-card-rhs">
                    <p class="entity-name">
                        {{ merchant.id }}. <strong>Name:</strong> {{ merchant.name }}
                    </p>
                    <div class="entity-options">
                        <a href="merchants/{{ merchant.id }}/edit">
                            <img class="entity-option-edit" src="{{ url_for('static', filename='assets/pen-to-square-solid.svg') }}"></img>
                        </a>
                        <a href="accounts/{{ account.id }}/delete">
                            <img class="entity-option-delete" src="{{ url_for('static', filename='assets/pen-to-square-solid.svg') }}"></img>
                        </a>
                    </div>    
                </div>
            </div>
        </a>
        {% endfor %}
    </nav>
    

    <h2>Add a merchant</h2> 
    <p>Click the button below to add a merchant</p>  
    <form action="/merchants/new" method="post">
        <button type="submit">Create new merchant</button>
    </form>


{% endblock content %}
