{% extends 'base.html' %}
{% block content %}
    <h2>{{ merchant.name }} </h2>
    <p> {{ merchant.name }} has sold {{ merchant.num_sales }} items and made a total revenue of {{ merchant.revenue }}</p>
    {% if merchant_tags != None %}
        <h2>Tags for this merchant</h2>
        <nav class="main-container">
            {% for tag in merchant_tags %}
            <a href="/merchants/{{ merchant.id }}">
                <div class="entity-card">
                    <object class="entity-card-main-image" width=100%  data="{{ url_for('static', filename='assets/tag-solid.svg') }}" ></object>
                    <div class="entity-card-rhs">
                        <div class="entity-options">
                            {{tag.id}} .<strong>{{tag.name}}</strong>
                        </div>    
                        <p class="entity-name">
                            {{ merchant.id }}. <strong>Name:</strong> {{ merchant.name }}
                        </p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </nav>
    
    {% endif %}
{% endblock content %}
