{% extends 'base.html' %}
{% block content %}
    <h2>Transactions information</h2>
    <p>Here are all transactions recorded</p>
    <table class = "tx-table">
        <tr>
            <th>Account ID</th>
            <th>Purchase value</th>
            <th>Merchant</th>
            <th>Timestamp</th>
        </tr>
        {% for tx in transactions %}
            <tr>
                <td>{{ tx.account.id }}    </td>
                <td>{{ tx.amount     }}    </td>
                <td>{{ tx.merchant.name }} </td>
                <td>{{ tx.timestamp}}     </td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}